[access]
	inheritFrom = All-Projects
[project]
	description = A TOSCA parser , based on JTOSCA generic parser and complying with the ONAP SDC TOSCA model.
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-sdc-tosca-committers
	owner = group saml/onap-gerrit-sdc-sdc-tosca-committers
	read = group GitHub Replication
	forgeCommitter = group ldap/lf-gerrit-transfer
	forgeCommitter = group saml/lf-gerrit-transfer
	push = +force group ldap/lf-gerrit-transfer
	push = +force group saml/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
	pushMerge = group saml/lf-gerrit-transfer
[submit]
	action = rebase if necessary
