[access]
	inheritFrom = All-Projects
[project]
	description = A TOSCA parser , based on JTOSCA generic parser and complying with the ONAP SDC TOSCA model.
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-sdc-tosca-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
